In [ ]:
# MIT License

# Copyright (c) 2021 GDSC UNI

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

<table align="center">
  <td align="center"><a target="_blank" href="https://gdsc.community.dev/universidad-nacional-de-ingenieria/">
        <img src="https://i.ibb.co/pX2w52P/GDSC.png" style="padding-bottom:5px;" />
      View GDSC UNI</a></td>

  <td align="center"><a target="_blank" href="https://colab.research.google.com/drive/10OWB6xoxnXxL-DWrmiAzkRFS0OYfv95K?usp=sharing">
        <img src="https://i.ibb.co/Bf0HK0q/Colaboratory.png"  style="padding-bottom:5px;" />Run in Google Colab </a></td>


  <td align="center"><a target="_blank" href="https://github.com/GDSC-UNI/Pandas-For-Data-Science/blob/main/PFDS4_Variables_Tipo_Texto.ipynb">
        <img src="https://i.ibb.co/VHHdRx2/Github.png"  height="110px" style="padding-bottom:5px;"/>View source on GitHub</a></td>
</table>

<h1></h1>

<h1 style="font-size:42px; text-align:center; margin-bottom:30px;"><span style="color:#000080">PFDS4:</span> Variables Tipo Textos</h1>
<hr>

Existe un subcampo dentro del Machine Learning llamado *Natural lenguage Processing* (NLP), en el que se trabajan con variables tipo texto. Pandas, es de mucha utilidad a la hora de interactuar con estas variables. Antes de mostrar las funcionalidades, crearemos un DataFrame con el que trabajaremos a lo largo de este notebook.

In [ ]:
import pandas as pd

In [ ]:
data = { 'names': [ 'Margaret Hamilton25',
                    'Donald Knuth14',
                    'Ken Thompson13',
                    'Linus Torvalds18'
]}

df = pd.DataFrame(data)
df

                 names
0  Margaret Hamilton25
1       Donald Knuth14
2       Ken Thompson13
3     Linus Torvalds18

Pandas nos permite usar métodos asociadas a los string usando *str* en nuestro DataFrame, tal como se muestra a continuación:

In [ ]:
df['names'].str.lower()

0    margaret hamilton25
1         donald knuth14
2         ken thompson13
3       linus torvalds18
Name: names, dtype: object

In [ ]:
df['names'].str.upper()

0    MARGARET HAMILTON25
1         DONALD KNUTH14
2         KEN THOMPSON13
3       LINUS TORVALDS18
Name: names, dtype: object

In [ ]:
df['names'].str.capitalize()

0    Margaret hamilton25
1         Donald knuth14
2         Ken thompson13
3       Linus torvalds18
Name: names, dtype: object

In [ ]:
df['names'].str.len()

0    19
1    14
2    14
3    16
Name: names, dtype: int64

In [ ]:
df['names'].str.split(' ')

0    [Margaret, Hamilton25]
1         [Donald, Knuth14]
2         [Ken, Thompson13]
3       [Linus, Torvalds18]
Name: names, dtype: object

In [ ]:
df['names'].str[:3]

0    Mar
1    Don
2    Ken
3    Lin
Name: names, dtype: object

In [ ]:
df['names'].str[-3:]

0    n25
1    h14
2    n13
3    s18
Name: names, dtype: object

Haciendo un análisis de nuestros datos, podemos encontrar números entre los nombres que no deberían estar, estos números los podemos conocer mediante el método extract, tal como se muestra a continuación.

In [ ]:
df['names'].str.extract('([0-9]+)', expand=False)

0    25
1    14
2    13
3    18
Name: names, dtype: object

Y con el método replace podemos eliminar estos números que no deberían estar

In [ ]:
df['names'].str.replace('[0-9]', '',regex=True)

0    Margaret Hamilton
1         Donald Knuth
2         Ken Thompson
3       Linus Torvalds
Name: names, dtype: object

Existen métodos como *findall* que nos permite buscar un string dentro de nuestro DataFrame, así como también el método contains que nos permite buscar dentro de nuestro DataFrame todas aquellas filas que contengan en o los caracteres buscados.

In [ ]:
df['names'].str.findall('Ken')

0       []
1       []
2    [Ken]
3       []
Name: names, dtype: object

In [ ]:
df['names'].str.contains('r')

0     True
1    False
2    False
3     True
Name: names, dtype: bool

In [ ]:
df[df['names'].str.contains('r')]

                 names
0  Margaret Hamilton25
3     Linus Torvalds18

Por último, podemos contar cuántas veces aparece un determinado carácter de la siguiente manera.

In [ ]:
df['names'].str.lower().str.count('a')

0    3
1    1
2    0
3    1
Name: names, dtype: int64